/* Table Styles */

.content-container h1{
  
  color: rgb(79, 75, 75);
}
.header-container
{
  background-color: antiquewhite;
}
.main-container{
  display: flex;
  justify-content: row;
  
}
.sidebar-container{

  margin-right: 50px;

}
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Table Header Styles */
  .table-container th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Table Body Styles */
  .table-container td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  /* Alternate Row Styles */
  .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover Styles */
  .table-container tr:hover {
    background-color: #e2e2e2;
  }
  /* Add this CSS to your dashboard.css file */


.content-container {
  display: flex;
  align-items: start;
  flex-grow: 1;
  margin-left: 20px;
  
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Add some space between cards */
}

.card {
 
 
  border: 2px solid #E4FFED;
  flex-basis: calc(33.33% - 20px); /* Adjust the card width as needed */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}



.card h3 {
  margin-top: 0;
}

